@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

*{
	font-family: 'Roboto Mono', monospace;
}

body{
	background-color: black;
}


.main-screen{
	height: 100vh;
	width: 100%;
}

#side-bar{
	margin-right: -8px;
	height: 100%;
	background-color: pink;
	float: right;
	border-radius: 5px;
	width: auto;
}

#side-bar-content div{
	column-count: 1;
	/*margin-top: 100px;*/
	padding: 20px;
}
#side-bar-content div button{
	border-style: none;
	background-color: red;
	font-size: 20px;
}

#side-bar-content div button:hover{
	cursor: pointer;
	color: yellow;
}

#principal-content{
	height: 100%;
	width: auto;
	background-color: black;
}