body{
	background-color: #0c0c0c;
	overflow-x: hidden;
}

.hlsparallax{
	background-image: url("../background/program.jpg");
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.hlsparallax h1{
	position: absolute;
	top: 20%;
	margin: 0 auto;
	width: 100%;
	color: white;
	font-size: 45px;
	text-align: center;
	font-family: 'Verdana';
	padding: 20px;
}

.hlsbtn{
	height: 65px;
	width: 60px;
	border-style: hidden;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top: 40px;
	font-size: 40px;
	background-color: #9932CC;
	color: white;
	animation: buttonani 7s infinite;
}
.hlsbtn:hover{
	cursor: pointer;
}

.main-content{
	font-family: 'Verdana';
	font-size: 20px;
	width: auto;
	width: 60%;
	margin: 150px;
	color: white;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	font-family: 'Verdana';
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
	margin-bottom: 50px;
}

.sidenav a:hover {
	cursor: pointer;
	color: #9932CC;
}
#closeicon{
	color: red;
}
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

::-webkit-scrollbar {
  width: 5px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #9932CC; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}




/*Pulse button animation*/
@keyframes buttonani{
	10%{
		box-shadow: 0px 0px 10px 0px white;
	}

	50%{
		box-shadow: 0px 0px 13px 0px white;
	}

	100%{
		box-shadow: 0px 0px 0 17px 0px white;
	}
}