@font-face{
	font-family: 'neon';
	src: url(../font/neon.otf);
}

body{
	margin: 0;
	padding: 0;
	background-color: #0c0c0c;
	overflow-x: hidden;
}

.hlsparallax{
	background-image: url("../background/city.jpg");
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


.hlsparallax h1{
	font-family: 'neon';
	position: relative;
	top:250px;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0 20px;
	font-size: 5em;
	color: #fff;
	animation: lblink 3 s infinite;
}

.neon:after{
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 20px;
	z-index: -1;
	color: #9932CC; 
	animation: makeblur 7s infinite;
}


.hlsbtn{
	position: fixed;
	top: 60%;
	height: 65px;
	width: 60px;
	border-style: hidden;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-top: 40px;
	font-size: 40px;
	background-color: #9932CC;
	color: white;
	animation: buttonani 7s infinite;
}

.hlsbtn:hover{
	cursor: pointer;
}

.main-content{
	font-family: 'Verdana';
	font-size: 20px;
	width: auto;
	width: 60%;
	margin: 150px;
	color: white;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	font-family: 'Verdana';
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
	margin-bottom: 50px;
}

.sidenav a:hover {
	cursor: pointer;
	color: #9932CC;
}
#closeicon{
	color: red;
}
.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.footer{
	margin: 0;
	background-color: #9932CC;
	width: 100%;
	height: auto;
	padding: 30px;
	column-count: 2;
}

.footer .footer-content{
	position: relative;
	left: 80%;
	margin-left: 50px;
}

.contactme{
	background-color: white;
	padding: 10px;
	border-style: hidden;
	height: auto;
	width: auto;
	color: black;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	float: right;
	margin: 0;
}

.contactme .angle.big.up.icon:hover{
	cursor: pointer;
	font-size: 30px;
}








.contactme button{
	position: relative;
	left: 30%;
}

.contactme div{
	margin: 10px;
}


::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #000; 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: grey; 
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}


/*Animations*/

@keyframes lblink{
	0%{
		opacity: 1;
	}

	40%{
		opacity: 0.9;
	}

	70%{
		opacity: 1;
	}

	80%{
		opacity: 0.9;
	}

	100%{
		opacity: 1;
	}
}


@keyframes makeblur{
	0%{
		filter: blur(0px);
	}
	50%{
		filter: blur(10px);
	}
	100%{
		filter: blur(0px);
	}
}


/*Pulse button animation*/
@keyframes buttonani{
	10%{
		box-shadow: 0px 0px 10px 0px white;
	}

	50%{
		box-shadow: 0px 0px 13px 0px white;
	}

	100%{
		box-shadow: 0px 0px 0 17px 0px white;
	}
}