body{
	margin: 0 auto;
	background-color: #0c0c0c;
	color: white;
}

.hls-cards{
	display: flex;
}

.hls-cards .card{
	height: 350px;
	width: 700px;
	background-color: #9932CC;
	color: white;
	padding: 10px;
	border-radius: 10px;
	margin: 50px;
	box-shadow: 0px 0px 50px 0px #2E8B57;
}

.hls-cards .card a img{
	border-radius: 10px;
}

.hls-cards .card:hover{
	cursor: pointer;
	animation: floating 2s infinite;
	animation-timing-function: ease-out;
}


.hls-cards .card a{
	text-decoration: none;
}

.hls-cards .card-description p{
	font-size: 15px;
}

/*animation card*/

@keyframes floating{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}